<h1>Artigos com a tag <%= @tag.name %></h1>
<ul>
  <% @tag.articles.each do |article| %>
    <li><%= link_to article.title, article_path(article) %></li>
  <% end %>
</ul>
<%= link_to "Deletar", tag_path(@tag), method: :delete, data: { confirm: "Quer mesmo deletar essa tag?" } %>
